# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules

# Build output
dist
.tscache
*.tgz

# Test Coverage/output
reports

# Optional npm cache directory
.npm

# Mac
.DS_Store

# VS Code
.history
.vscode
jsconfig.json

# IntelliJ
.idea
*.iml
*.config.json